.img-all-width img {
    width: 100%;
}
.img-bit-width img {
    width: 20%;
}
.container-button {
    display: flex;
    justify-content: center;
}
.container-text-index p {
    text-align: center;
}
@media (min-width: 1011px) {
    .img-all-width {
        display: flex;
        justify-content: center;
    }
    .img-all-width img {
        width: 50%;
    }
}